<%= flash[:message] %>
 
<%= link_to "Inscreva-se aqui",new_inscricao_path %>

<br/>
<br/>
<b>Datas</b><br/>
22, 25 2 29 de junho/2009<br/>
02 e 06 de julho/2009<br/>
<br/>
<b>Horário</b><br/>
19h<br/>
<br/>
<b>Local</b><br/>
Câmara Municipal de Porto Alegre<br/>
Plenário Otávio Rocha - Av. Loureiro da Silva, 255


<h4>Programação</h4>

<style>
.evento{margin-bottom:20px}
</style>
 
<div class='evento'>
22/06 - FINANCIAMENTO DE CAMPANHA<br/>
Palestrantes:<br/>
Alfredo Englert - ex-Presidente do TRE<br/>
Marcelo Barroso Lacombe - Consultor Técnico da Câmara dos Deputados<br/>
Claudio Weber Abramo - Diretor-Executivo da ONG Transparência Brasil<br/>
</div>

 
<div class='evento'>
25/06 - LISTA ABERTA X LISTA FECHADA<br/>
Palestrantes:<br/>
Ibsen Pinheiro - Deputado Federal (a confirmar)<br/>
Benedito Tadeu Cesar - Coord. Programa Pós-Graduação Ciência Política UFRGS<br/>
André Marenco - Professor do Programa de Pós-Graduação em Ciência Política UFRGS<br/>
Vieira da Cunha - Deputado Federal<br/>
</div>

 
<div class='evento'>
29/06 - SISTEMAS DE GOVERNO<br/>
Palestrantes:<br/>
Fernando Schüler - Secretário Justiça Desenvolvimento Social do RS (a confirmar)<br/>
Eduardo Carrion - Professor Faculdade de Direito UFRGS<br/>
Cezar Saldanha - Professor do Programa de Pós-Graduação em Direito UFRGS
</div>
 
<div class='evento'>
02/07 - SISTEMAS ELEITORAIS<br/>
Palestrantes:<br/>
Tarso Genro - Ministro da Justiça (a confirmar)<br/>
Luis Gustavo Grohmann - Professor do PPG  em Ciência Política UFRGS<br/>
Antônio Augusto Mayer dos Santos - Advogado, especialista em Direito Eleitoral
</div>

<div class='evento'>
06/07 - PACTO FEDERATIVO E REPRESENTAÇÃO NO SENADO<br/>
Palestrantes:<br/>
Pedro Simon - Senador (a confirmar)<br/>
Maria Izabel Saraiva Noll-Coord. Programa Pós-Graduação Ciência Política UFRGS<br/>
Cláudio Lopes Preza Junior - Professor da Pontifícia Universidade Católica do RS<br/>
</div>




