<html>
	<head>
		<title>CMPA - Ciclo de Debates sobre reforma Política</title>		
		<%= stylesheet_link_tag 'inscricoes' %>		
	</head>	
	<body>	  
	  
	  <div id='banner'>
	    <br/>
	    <h1>Ciclo de Debates sobre Reforma Política</h1>	    	   
	    <h4>Governabilidade e Controle </h4>
	  </div>  
	  
	  <div id='content'>
		<%= yield -%>
	  </div>
	</body>
</html>